<% if (title) { %>
<h1><%= title %></h1>
<!-- Message -->
<%- messages() %>

<% } else {
                res.redirect('/')
              } %>

<h1><%= title %></h1>
<div class="form-body">
  <section class="form-container">
    <form id="updateForm" class="form" action="/inv/update" method="post">

      <label>Classification</label>
      <span class="form-field"><% if(classificationSelect) { %> <%- classificationSelect %> <% } %></span><br>


      <label for="inv_make">Make:</label>
      <input class="form-field" type="text" name="inv_make" required size="40" value="<%= locals.inv_make %>" pattern="[A-Za-z ]{3,20}" /><br>

      <label for="inv_model">Model:</label>
      <input class="form-field" type="text" name="inv_model" size="40" required value="<%= locals.inv_model %>" pattern="[A-Za-z ]{3,20}" /><br>
      <label for="inv_description">Description:</label>
      <textarea class="form-field" required name="inv_description" id="inv_description" cols="30" rows="10"><%= locals.inv_description %></textarea><br>
      <label for="inv_image">Image:</label>
      <input class="form-field" type="text" name="inv_image" size="40" required value="<%= locals.inv_image %>" /><br>
      <label for="inv_thumbnail">Thumbnail:</label>
      <input class="form-field" type="text" name="inv_thumbnail" size="40" required value="<%= locals.inv_thumbnail %>" /><br>
      <label for="inv_price">Price:</label>
      <input class="form-field" type="number" name="inv_price" required size="40" value="<%= locals.inv_price %>" pattern="\d{4,6}" /><br>

      <label for="inv_year">Year:</label>
      <input class="form-field" type="number" name="inv_year" size="40" required value="<%= locals.inv_year %>" pattern="19[\d]{2}|20\d{2}" /><br>

      <label for="inv_miles">Milage:</label>
      <input class="form-field" type="number" name="inv_miles" required size="40" value="<%= locals.inv_miles %>" pattern="\d{1,6}" /><br>


      <label for="inv_color">Color:</label>
      <input class="form-field" type="text" name="inv_color" required size="40" value="<%= locals.inv_color %>" pattern=".{3,100}" /><br>
      <div class="edit-buttons-container">
        <a href="javascript:history.back()">
          <button class="form-button cancel-button" id="historyBack" type="button" name="cancel">Cancel</button>
        </a>
        <button class="form-button" id="updateForm" type="submit" name="submit">Update</button>
      </div>
      <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>
    </form>
  </section>
</div>

<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inv-update.js"></script>